.left{
    max-width: 1240px;
    width: 100%;
    border-radius: 12px;
    padding: 40px 24px 24px;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin: 0px;
    box-sizing: border-box;
    overflow: hidden;
}

.right{
    max-width: 1240px;
    width: 100%;
    border-radius: 12px;
    padding: 40px 24px 24px;
    background: rgb(2, 2, 3);
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin: 0px;
    box-sizing: border-box;
    overflow: hidden;  
}

.platform{
    text-align: center;
    font-family: Syne;
    font-weight: 700;
    color: rgb(23, 23, 23);
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.gg{
    font-family: Syne;
    font-weight: 700;
    color: rgb(132, 138, 255);
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.text{
    max-width: 568px;
    width: 100%;
    margin-top: 16px;
    text-align: center;
    line-height: 28px;
    font-family: Formular;
    font-size: 18px;
    font-weight: 400;
    color: rgb(79, 86, 98);
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.version{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-flow: row;
    gap: 15px;
    z-index: 1;
    font-size: 14px;
    font-weight: 400;
}

.boxes {
    display: flex;
    justify-content: space-between; /* Adjust as needed */
    margin-top: 40px;
    -webkit-box-pack: justify;
    box-sizing: border-box;
  }

.box{
    background: rgb(255, 255, 255);
    box-shadow: rgba(149, 163, 191, 0.35) 0px 8px 30px;
    border-radius: 15px;
    padding: 6px 20px 6px 6px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
}

.buttons{
    display: flex;
    margin-top: 50px;
}

.butt{
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
}
.butt.button1{
    position: relative;
    height: 49px;
    display: flex;
    align-items: flex-start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    flex-flow: row;
    gap: 0px;
    max-width: 183px;
    width: 100%;
    border: none;
    background-color: transparent;
    min-width: 120px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    transition: all 0.5s ease 0s;
}

.butt:last-child{
    margin-right: 0;
}

.button1-sty{
    position: relative;
    width: 24px;
    min-width: 24px;
    height: 49px;
    background-color: rgb(108, 82, 238);
    transition: all 05s ease 0s;
    left: 1px;
    clip-path: path("M 10 49 C 4.47715 49 0 44.5229 0 39 V 19.4871 C 0 16.1312 1.68339 12.999 4.48224 11.1472 L 18.8218 1.66007 C 20.4583 0.577328 22.3773 0 24.3395 0 H 88 C 93.5228 0 98 4.47716 98 10 V 28.7016 C 98 32.0576 96.3166 35.1898 93.5178 37.0416 L 77.9521 47.3399 C 76.3155 48.4227 74.3966 49 72.4343 49 H 10 Z");
}

.button1-sty + span {
    width: 100%;
    height: 100%;
    background-color: rgb(108, 82, 238);
    transition: all 0.5s ease 0s;
}

.button1-1-text{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-flow: row;
    gap: 15px;
    z-index: 1;
    font-size: 14px;
    font-weight: 400;
}

.button2-sty{
    position: relative;
    width: 24px;
    min-width: 24px;
    height: 49px;
    background-color: rgb(108, 82, 238);
    transition: all 0.5s ease 0s;
    clip-path: path("M 10 49 C 4.47715 49 0 44.5229 0 39 V 19.4871 C 0 16.1312 1.68339 12.999 4.48224 11.1472 L 18.8218 1.66007 C 20.4583 0.577328 22.3773 0 24.3395 0 H 88 C 93.5228 0 98 4.47716 98 10 V 28.7016 C 98 32.0576 96.3166 35.1898 93.5178 37.0416 L 77.9521 47.3399 C 76.3155 48.4227 74.3966 49 72.4343 49 H 10 Z");
    transform: scale(-1);
    right: 1px;
    left: unset;
}

.butt.button2{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background: transparent;
    border: none;
    font-family: Formular;
    font-size: 17px;
    font-weight: 400;
    color: rgb(108, 82, 238);
    appearance: buton;
    overflow: visible;
    text-transform: none;
    line-height: 1.15;
    cursor: pointer;
    white-space: nowrap;
    box-sizing: border-box;
}
.left-right-container{
    display:flex;
}

.left{
    flex:1;
}

.right{
    flex:1;
}

.soft-comb{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
}

.software{
    font-size: 36px;
    font-family: Syne;
    font-weight: 700;
    color: rgb(39, 39, 80);
    background: linear-gradient(rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 162.5%) text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.combin{
    font-size: 36px;
    font-family: Syne;
    font-weight: 700;
    color: rgb(39, 39, 80);
    background: linear-gradient(341.87deg, rgb(132, 138, 255) -1.64%, rgb(234, 140, 255) 106.1%) text;
    -webkit-text-fill-color: transparent;
}

.text-b{
    margin-top: 12px;
    max-width: 568px;
    width: 100%;
    text-align: center;
    line-height: 28px;
    font-family: Formular;
    font-size: 18px;
    font-weight: 400;
    color: rgb(131, 131, 131);
}